.header {
	height: 120px;
	overflow: auto;
	margin: 0 0 0 0;
	border-bottom: 2px solid #cfcfcf;
	text-align: center;
	padding-top: 1%;
}

.taskBody {
	height: 610px;
	margin: 0 0 0 0;
	overflow-y: auto;
	padding-left: 10px;
	padding-top: 1%;
}

.footer {
	min-height: 10%;
	height: 10%;
	max-height: 10%;
	margin: 0 0 0 0;
	border-top: 2px solid #cfcfcf;
	padding-top: 10px;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 10px;
}

.search-title {
	font-size: 30px;
	font-weight: bold;
}

.first-btn {
	float: left;
	margin-right: 2px;
}