.new-task-button {
	margin-bottom: 15px;
}

.filter {
	margin-bottom: 15px;
}

.category-btn {
	margin-left: 5px;
}

.search-bar {
	margin-right: 5px;
}

.sort-select {
	margin-left: 5px;
}

.sort-by {
	margin-bottom: 15px;
}